@model IEnumerable<NarayanBharuch.Areas.Admin.Models.AdminModel.CulturalProgramModel>
<input type="hidden" id="SuccessMessage" value="@ViewBag.SuccessMessage" />
<input type="hidden" id="ErrorMessage" value="@ViewBag.ErrorMessage" />
<div class="table-responsive">
    <table id="datatable2" class="table order-column hover table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Department</th>
                <th>Date</th>
                <th>Active</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
